node_modules
build
wp-content/_build
**/*.json
**/*.scss
**/*.css
**/*.html
**/*.php
vendor
wp-admin
wp-includes
tests
docker

wp-content/plugins/*
wp-content/themes/*
!wp-content/plugins/startup-jobs
!wp-content/plugins/wp-harvest
!wp-content/themes/startup-jobs
